.cld-main{
  width: 80%;
  margin-left: 10%;
}
.cld-main a{
  color: #7B00FF;
}
  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day{
    display: block;
    float: left;
    position: relative;
    margin: 0;
    /* padding: 5px; */
    height: 90px;
    border: 1px solid #ddd;
    /* overflow-y:auto ; removed breaks code if muliple events per day but for unkown reason makes tooltip display properly so I am just going to remove it*/ 
  }
  .cld-day.clickable:hover{
    cursor: pointer;
  }
  .cld-day.today{
    border: 1px solid #7B00FF;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    /* opacity: 0.33; I removed numbers so I bumbed up opacity*/
    opacity: 1;
  }
    .cld-number{
      margin: 0;
      text-align: left;
      position: absolute;
      top: 2%;
      left: 2%;
    }
      .cld-title{
        font-size: 10px;
        display: block;
        margin: 0;
        font-weight: normal;
      }
      .cld-day:hover{
        background: #eee;
      }
      .cld-number.eventday{
        font-weight: bold;
      }
      .cld-number.eventday:hover{
        background: #eee;
      }
      .today .cld-number.eventday:hover{
      }

      .cld-day.eventday {
        position: relative;
      }
      
      .cld-day.eventday .tooltiptext {
        visibility: hidden;
        width: 150px;
        height: 90px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
      }
      
      .cld-day.eventday:hover .tooltiptext {
        visibility: visible;
      }
