
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato';

}
.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 100;
}

.logo_container h1 span {
    font-weight: 1000;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell; 
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Lato';
    font-size: 16px;
}
.navigation a li:hover{
    color: #101010;
    font-weight: 600;
   }
   
 .navigation a:hover{
    background-color: white;
   }

   .container{
    display: flex;
    
}

.edges{
    flex-basis:15%;
    background-color: maroon;
    height: 1500px;
    
}

.mid{
    
    flex-basis: 70%;
    height: 1400px;
    background-color: rgb(245, 245, 220);
    transform: translateY(3%);


}

body{
    margin:0;
    padding:0;
    text-align: center;
}

form{
    margin-top: 50px;
}

.sections {
   
    height: 300px;
    width: 90%;
   
  
    margin:5%;
}

.Slides {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height:  350px;
    background-color: rgb(245, 245, 220);
}
.Mission {
    position: relative;
    top: 60%;
    transform: translateY(-40%);
    height: 150px;
   
    background-color: rgb(245, 245, 220);
    border: 3px solid black;
}
.Location {
    position: relative;
    top: 95%;
    transform: translateY(-50%);
    height: 300px;
    background-color: rgb(245, 245, 220);
    border: 3px solid black;
}
.Events {
    position: relative;
    top: 100%;
    transform: translateY(-50%);
    height: 300px;
    background-color: rgb(245, 245, 220);
    border: 3px solid black;
}



.form-control{
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    border-color:transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height:50px;
    margin-top: 20px
}

form .submit:hover{
    background-color: lightgrey;
}

.foot-container {
    background: #101010;
    height: 100px;
    width: 100%;
    padding-top: 2%;
    display:flex;
    justify-content: space-evenly;
  }

  .footerInfo {
    color: white;
    border-spacing: 10px;
    vertical-align: middle;
    margin: auto;
  }

  .redWagonMission{
      position: relative;
      top: 25%;
      transform: translateY(-40%);
      height: 150px;

      background-color: rgb(245, 245, 220);
      border: 3px solid black;
  }
  .sections2 {

    height: 200px;
    width: 80%;


    margin:10%;
}
  .Donate{
    position: relative;
    top: 60%;
    transform: translateY(-40%);
    height: 100%;

    background-color: #101010;
    border: 3px solid black;
    color: white;
  }
  .contact{
    position: relative;
    top: 55%;
    transform: translateY(-40%);
    height: 300px;

    background-color: rgb(245, 245, 220);
    border: 3px solid black;
  }
  .contact-form2{
   
    position: relative;

    transform: translateY(-50%);
    height: 260px;
    border: 3px solid black;
  
  }
  
.donate {
    position: relative;
    top: 40%;
    transform: translateY(-25%);
    height:  700px;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    margin:10%;
}
.donatebox {
    position: relative;
    top: -75%;
    transform: translateY(-10%);

    height:  100px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(245, 245, 220);

    border: 3px solid black;
}

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
    height: 200px;
  }
  .Margins{
    height: 300px;
    width: 90%;
   
  
    margin: 5%;
  }
.contact-form{
    margin-right: 100px;
    margin-left: 100px;
    border: 3px solid black;
}

a {
    color: inherit;
}
