
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato';

}
html,body{
    overflow-x: hidden;
  
  
}
.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 100;
}

.logo_container h1 span {
    font-weight: 1000;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell; 
    vertical-align: middle;
    height: 100%;
    color: white;
  
    font-family: 'Lato';
    font-size: 16px;
}
.navigation a li:hover{
    color: #101010;
    font-weight: 600;
   }
   
 .navigation a:hover{
    background-color: white;
   color: black;
   }

   .container{
    display: flex;
    
}

.edges{
    flex-basis:15%;
    /* background-color: maroon; */
    height: 1500px;
    
}

.mid{
    
    flex-basis: 70%;
    height: 1400px;
    background-color: rgb(245, 245, 220);
    transform: translateY(3%);


}


body{
    margin:0;
    padding:0;
    text-align: center;
}

form{
    margin-top: 50px;
}

.sections {
   
    height: 35%;
    width: 80%;
   
  
    
    position: relative;
   
    margin-right: 10%;
    margin-left:10%;
}
.don {

    position: relative;
    

      transform: translateY(-45%);
      max-width: 80%;
     margin-left: 10%;
    
      
      background-color: rgb(245, 245, 220);

}

.Slides {
    position: relative;
  top: 25px;
    transform: translateY(-32%);
    height: auto;
    
    
    background-color: rgb(245, 245, 220);
}
.Mission {
    position: relative;
    top: 70%;
    transform: translateY(-115%);
    height: 95%;
   
    background-color: rgb(245, 245, 220);
    border: 3px solid black;
}
.Location {
    position: relative;
    top: 95%;
    transform: translateY(-95%);
    height: 140%;
    background-color: rgb(245, 245, 220);
    border: 3px solid black;
}
.Events {
    position: relative;
    top: 100%;
    transform: translateY(-90%);
    height: 150%;
    background-color: rgb(245, 245, 220);
    border: 3px solid black;
}



.form-control{
    width: 50%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    border-color:transparent;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height:50px;
    margin-top: 20px
}

form .submit:hover{
    background-color: lightgrey;
}

.foot-container {
    background: #101010;
    height: 100px;
    width: 100%;
    padding-top: 2%;
    display:flex;
    justify-content: space-evenly;
  }

  .footerInfo {
    color: white;
    border-spacing: 10px;
    vertical-align: middle;
    margin: auto;
  }

  .redWagonMission{
      position: relative;
      top: 5%;
      transform: translateY(60%);
      height: 150px;

      background-color: rgb(245, 245, 220);
      border: 3px solid black;
  }
  .sections2 {

    height: 200px;
    width: 80%;


    margin:10%;
}
  .Donate{
    position: relative;
    top: 30%;
    transform: translateY(0%);
    height: auto;
    background-color: rgb(245, 245, 220);
    border: 3px solid black;
  }
  .contact{
    position: relative;
    top: 5%; 
    transform: translateY(-10%);
    height: 200px;

    background-color: rgb(245, 245, 220);
    border: 3px solid black;
  }
  .contact-form2{
   
    position: relative;

    transform: translateY(-50%);
    height: 260px;
    border: 3px solid black;
  
  }
  
  
.donate {
    position: relative;
    top: 40%;
    transform: translateY(-25%);
    height:  700px;
    background-color: rgb(0, 0, 0);
    border: 3px solid black;
    margin:10%;
}
.donatebox {
    position: relative;
     top: -90%;
     transform: translateY(100%); 

    height:  20%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(245, 245, 220);

    border: 3px solid black;
}

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 25%;
    height: 200px;
  }
  .Margins{
    height: 300px;
    width: 90%;
   
  
    margin: 5%;
  }
  .sections3{
      height: 200px;
    width: 80%;


    margin:10%;
  }
  .theslides{
    position: relative;
    top: 35%;
    transform: translateY(-65%);
    height: 110%;
    
    background-color: rgb(245, 245, 220);
}
.contact-form{
    margin-right: 100px;
    margin-left: 100px;
    border: 3px solid black;
}
.contact-form{
    border: 3px solid black;
}

.contact-form4{
    margin-right: 100px;
    margin-left: 100px;
    border: 3px solid black;
    transform: translateY(-80%);
    height: 15%;
}
.contact-form3{
    margin-right: 100px;
    margin-left: 100px;
    border: 3px solid black;
    transform: translateY(-30%);
    height: 38%;
}


a {
    color: inherit;
}
.linker{
    padding: 20px 34px;
    background-color: rgb(245, 245, 220);
    border-color: transparent;
    font-size: 20px;
}
.linker:hover{
    background-color: lightgrey;
}

.mce-EMAIL{
    background-color: red;
}

h3{
    font-size: 20px;
}
.return{
    padding: 20px 34px;
    background-color: rgb(245, 245, 220);

    margin-right: 35%;
    margin-left: 35%;
}
.return:hover{
    background-color: lightgrey;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto
}

.mySlides {
    display: none;
  

     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left: 11%;
    margin-right: 11%;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}

.contact-form99{
    margin-right: 200px;
    margin-left: 200px;
    border: 3px solid black;
    overflow: scroll;
    height: 80%;
}