<!-- using flex boxes to design the footer -->
<div class="foot-container">
    <div class="footerInfo">
      <p><a href="https://www.instagram.com/" target="_blank">
        <img border="0" alt="instagram" src="ig.png" height="15" width="15">
        </a>@undercroftmd</p>
      <br></br>
      <p><a href="https://www.facebook.com/" target="_blank">
        <img border="0" alt="facebook" src="fb.png" height="15" width="15">
        </a>@asdada</p>
    </div>
    <div class="footerInfo">
      <p>2629 Huntingdon Ave, Baltimore, MD 21211</p>
    </div>
    <div class="footerInfo">
      <p><a href="http://tide.friendsbalt.org/" target="_blank">
        <img border="0" alt="tide" src="tide.png" height="15" width="15">
        </a>Powered By TIDE</p>
    </div>
</div>