<!-- using flex boxes to design the footer -->
<div class="foot-container">
    <div class="footerInfo">
      <p>@asdada</p>
      <br></br>
      <p>@asdada</p>
    </div>
    <div class="footerInfo">
      <p>2629 Huntingdon Ave, Baltimore, MD 21211</p>
    </div>
    <div class="footerInfo">
      <p>Powered By Tide</p>
    </div>
</div>



  