<div id="footerBox">

    <table style="width:100%" id="footerInfo">
        <tr>
          <th>@asdada</th>
          <th></th>
          <th>Hours of opperation:</th>
        </tr>
        <tr">
          <td></td>
          <td>2629 Huntingdon Ave, Baltimore, MD 21211</td>
          <td>Monday to Thursday 7-10</td>
        </tr>
        <tr>
          <td>@asdsa</td>
          <td></td>
          <td>Friday to Sunday 5 -12</td>
        </tr>
      </table>

</div>



  