<!DOCTYPE html>
<html lang="en">
  <%- include ('./include/head') %>
<body class=back>
  <%- include ('./include/header') %>
  <div class="container">  
    <div class="edges">
    </div>
    <div class="mid">
        <h1>Contact Us</h1>
        <div class = "contact-title">
            <h2>Say Hello</h2>
            <h3>We are always ready to help!</h3>
        </div>
        <div class="contact-form">
           <form id="contact-form" method="post" action="">
              <input name="name" type="text" class="form-control" placeholder="Your Name" required><br>

              <input name="Email" type="email" class="form-control" placeholder="Your Email" required><br>

              <textarea name="message"class="form-control" placeholder="Message" rows="4" required></textarea><br>

              <input type="submit" class="form-control submit" value="SEND MESSAGE">
           </form>
        </div>
    </div>
    <div class="edges">
    </div>
</div>  
   <%- include ('./include/scripts') %>
   <%- include ('./include/footer') %>
</body>
</html>