<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container"> 
        <img src="background.jpg" alt="image" height="1500" width="100%" style=position:absolute; style="z-index:-5;"> 
        <div class="edges">
        </div>
        <div class="mid">
            <h1>Get Involved</h1>
        </div>
        <div class="edges">
        </div>
    </div>  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>