<!DOCTYPE html>
<html lang="en">
    <%- include ('./include/head') %>
<body class=back>
    <%- include ('./include/header') %>
    <div class="container">  
        <img src="background.jpg" alt="image" height="1500" width="100%" style=position:absolute; style="z-index:-5;">
        <div class="edges">
           

        </div>
        <div class="mid">
           
         <div class="sections">
            <div class="Slides">
               
            <img src="katana show 2.jpg" width="100%" height="300" alt="image">
        </div>
            <div class="Mission">
            <h1>Mission Statement</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. 
        </div>
            <div class="Location">
                <h1>Location</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12346.444605598414!2d-76.6217087!3d39.3197369!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2574b8de89787f71!2sThe%20Undercroft!5e0!3m2!1sen!2sus!4v1588630335924!5m2!1sen!2sus" width="80%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

            </div>
            <div class="Events">
                <h1>Event Calander</h1>



            </div>
            
         </div>
        </div>
        <div class="edges">
        </div>

    </div>    
  
    <%- include ('./include/scripts') %>
    <%- include ('./include/footer') %>
</body>
</html>